*.log
*~
*.tgz
*.o
*.po
*.la
*.lo
.libs/
.deps/
software/Makefile
software/Makefile.in
software/dict/Makefile
software/dict/Makefile.in
software/etc/Makefile
software/etc/Makefile.in
software/geonlp_ma_makedic/Makefile
software/geonlp_ma_makedic/Makefile.in
software/include/Makefile
software/include/Makefile.in
software/libgeonlp/Makefile
software/libgeonlp/Makefile.in
software/php-extension/Makefile
software/php-extension/Makefile.in
software/src/Makefile
software/src/Makefile.in
software/autom4te.cache/
software/aclocal.m4
software/configure
software/configure.in
software/dict/geo_name_fullname.drt
software/dict/geodic.sq3
software/dict/mecabusr.dic
software/dict/wordlist.sq3
software/etc/geonlp.rc
software/etc/geonlp_ma_makedic.rc
software/geonlp_ma_makedic/geonlp_ma_makedic
software/include/config.h
software/include/config.h.in
software/include/stamp-h1
software/config.guess
software/config.sub
software/config.status
software/configure.scan
software/libtool
software/ltmain.sh
software/src/geonlp_add
software/src/geonlp_api
software/src/geonlp_api_server
software/src/geonlp_ma
software/src/geonlp_rebuild
