[submodule "geonlp-software"]
	path = geonlp-software
	url = git@github.com:t-sagara/geonlp-software.git
[submodule "geonlp-document"]
	path = geonlp-document
	url = git@github.com:t-sagara/geonlp-document.git
